:root {
  --header-height: 56px;
  --first-color: hsl(23, 100%, 50%);
  --gradient-color: linear-gradient(
    90deg,
    hsl(23, 4%, 28%) 0%,
    hsl(23, 4%, 8%) 100%
  );
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(23, 4%, 60%);
  --body-color: hsl(23, 12%, 4%);
  --container-color: hsl(23, 4%, 10%);
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 160px;
  --h1-font-size: 24px;
  --h2-font-size: 19.2px;
  --h3-font-size: 16px;
  --normal-font-size: 15px;
  --small-font-size: 13px;
  --smaller-font-size: 12px;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

.button {
  background: var(--gradient-color);
  padding: 12px;
  border-radius: 64px;
  color: white;
  font-weight: var(--font-semi-bold);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  width: 200px;
  margin: auto;
  i {
    font-size: 32px;
    font-weight: 400;
    color: var(--first-color);
  }
  &:hover {
    transition: box-shadow .4s;
    box-shadow: 0 12px 32px hsla(23, 100%, 50%, 0.12);
  }
}
